<main>
   <nav>
       <form (submit)='onPlay()'id='playForm'>
            <button type="submit" name="button" class="button">Play!</button>
       </form>
       <p>Click the button above to start the trivia game</p>
   </nav>
   <section id='search'>
       <form >
           Search:<input type="text" name="search" value="">
       </form>
   </section>
   <section>
       <table>
           <thead>
               <tr>
                   <th>Name</th>
                   <th>Score</th>
                   <th>Percentge</th>
               </tr>
           </thead>
           <tbody>
               <!-- ngFor this... -->
           </tbody>
       </table>
   </section>
</main>
